.footer {
    justify-content: space-between;
    padding-right: 40px;
    color: #9A1212;
    font-size: 25px;
}

.big {
    transform: scale(1.15);
    background: #9A1212;
}

.big a { color: white; }

.company_info {
    width: 70vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: right;
}

.f_wrap {
    display: flex;
}